body {
    display: flex;
    justify-content: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
}

.toggle input {
    display: none;
}

.toggle-label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 34px;
    /* background-color: #ccc; */
    transition: background-color 0.2s;
}

.toggle-inner {
    position: absolute;
    left: -15px;
    top: 1px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border: gray solid 1px;
    background-color: #fff;
    transition: left 0.2s;
    z-index: 1;
}

.toggle-switch::before {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    content: 'No';
    color: gray;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 20px;
    top: 5px;
    position: absolute;
    height: 60%;
    border: gray solid 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background-color: rgb(215, 215, 215);
}

.toggle-cb:checked + .toggle-label .toggle-switch::before {
    background-color: red;
    color: white;
    padding-right: 10px;
    padding-left: 0px;
    content: 'Yes';
}

.toggle-cb:checked + .toggle-label .toggle-inner {
    left: calc(100% - 15px);
}